<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" >
                Home
            </a>            
        </li> 
        <li>
            <a routerLink="/blog" routerLinkActive="active">
               Blog
            </a>
        </li>
        <li class="dropdown">
        
        
            <a class="dropdown-button" routerLinkActive="active">
                
               Media
             
        
                <div class="dropdown-content" >
                    <a routerLink="/media/images" routerLinkActive="active">
                        Images
                    </a>
                    <a routerLink="/media/videos" routerLinkActive="active">
                        Videos
                    </a>
                    
                </div>            
            </a> 
        </li>
        
        <li>
            <a routerLink="/about" routerLinkActive="active">
               About
            </a>
        </li> 
        <li>
            <a routerLink="/contact" routerLinkActive="active">
               Contact
            </a>
        </li>     
    </ul>
</nav>

<article class="main-content">
    <router-outlet></router-outlet>
</article>
