@import url('https://fonts.googleapis.com/css?family=Pacifico');

$primary-color: #800080;
$secondary-color: #EE82EE;
$bay-green: #175E33;
$cheese-gold: #FFB81C;
$selected-border-color: lightgreen;
$hover-border-color: gold;


@mixin hover-effect( $border-color, $background-color: $primary-color, $text-color: $secondary-color){
    border-color: $border-color;
    background-color: $primary-color;
    color: $secondary-color;  
} 

nav {

    font-family: 'Pacifico', cursive;
    text-align: center;
    
    
    ul {
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        //overflow: hidden;
        background-color: $secondary-color;

        li {
            display: inline-block;

            &>a {
                text-decoration: none;
                text-align: center;
                font-size: 1.2em;                
                display: block;
                padding: .9em 2em;
                margin: .25em;
                color: $primary-color;
                border: .25em dashed $secondary-color;
                border-radius: .625em;
                //transition: border-color 2s; // trails

                &:hover {
                    @include hover-effect($hover-border-color);
                    transition: border 3s;
                }

                &.active {                     
                    @include hover-effect($selected-border-color, $secondary-color, $primary-color );
                    
                    &:hover {
                        @include hover-effect($selected-border-color, $secondary-color, $primary-color );
                    }    
                }
            }
        }
    }
}



.main-content {
    margin: 1% 20%;
    height: 51.25em;
    background-color: white;
    border-radius: 1.625em;   
}

.dropdown {
    position: relative;
    //display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;    
    background-color: $secondary-color;
    min-width: 100%;    
    top: 4.5em;
    left: 0;
    border-radius: .625em;
    a{
        
        text-decoration: none;
        display: block;
        
        &:hover {            
            border-radius: .625em;
           @include hover-effect(none);
        }

        &.active { 
            border: .25em dotted $cheese-gold;
            border-radius: .625em;
            
            @include hover-effect(none, $secondary-color, $primary-color );
            
            &:hover {
                @include hover-effect(none, $secondary-color, $primary-color );
            }    
        }
    }    
}


.dropdown:hover .dropdown-content{    
    display: block;
}
